@-moz-document domain("tweetdeck.twitter.com") {
    .r-13l2t4g {
        display: none;
    }
    .r-wgs6xk {
        padding-bottom: 4px;
    }
    .r-1b9bua6 {
        padding-top: 4px;
    }
    .r-qklmqi {
        display: none;
    }
    .margin-v--8,
    .margin-vm {
        margin-top: 6px!important;
        margin-bottom: 6px!important;
    }
    .r-t23y2h,
    .media-size-medium,
    .br--14 {
        border-radius: 8px;
    }
    .r-1b43r93 {
        font-size: 13px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
    }
    .padding-a--10 {
        padding-top: 4px !important;
        padding-right: 10px !important;
        padding-bottom: 4px !important;
        padding-left: 10px !important;
    }
    .compose-text-container{
        padding: 10px!important
    }
}
